<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ringga.security">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_etowa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SECURITY"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.scan.AbsenScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.GagalFingerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.undian.ScanUserHadirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ui_user.UserLateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scan.ShiftScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.DaftarShiftActivity"
            android:exported="false" />
        <activity
            android:name=".ui.skema.VidioViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.DaftarVisitorPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.DaftarVisitorBerjalanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.patrol.ListPatrolActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.DitailVisitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.DaftarVisitorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.skema.QrLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.EditPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.skema.SkemaSatuActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.scan.HistoryVisitorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.HistoryPatrolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scan.PatrolActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.scan.VisitActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ringga.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>